.selectInput {
  height: 25px;
  min-height: 25px;
  border-radius: 0 !important;
}

.error {
  color: light-dark(var(--mantine-color-red-8), var(--mantine-color-red-7));
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-gray-8));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 4px;
}

.mermaid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.menuGroup {
  @media print {
    display: none;
  }
}
