.root {
  margin: 0.5rem 0;
  border-radius: 0 !important;
  padding: 4px 8px !important;

  p,
  div,
  ul,
  ol {
    margin: 0 !important;
  }
}

.icon {
  margin-right: 10px;
  margin-top: 1px;
}

.message {
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
}
